@import "https://fonts.googleapis.com/css?family=Allerta+Stencil|Open+Sans:300,400,600,700,800";

body {
  font-family: 'Open Sans', sans-serif;
  background: #FBFBFB;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  border: none;
  margin-bottom: 40px;
  border-radius: 0;
  background-color: #fff;
}

.navbar-btn {
  display: none;
  outline: none !important;
  border: none;
  font-size: 20px;
  color: #FD5879;
}

#logo {
  font-family: 'Allerta Stencil', sans-serif;
  color: #fff;
  font-size: 20px
}


/* ---------------------------------------------------
    Search Bar
----------------------------------------------------- */
#search-input{
  padding: 1px;
  border: solid 1px #E4E4E4;
  border-radius: 2px;
  background-color: #fff;
}

#search-input input{
    border: 0;
    box-shadow: none;
}

#search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: black;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input .glyphicon-search{
    font-size: 18px;
}


/* ---------------------------------------------------
    Aside
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 280px;
  max-width: 280px;
  background: #333;
  transition: all 0.3s;
  border-right: 1px solid #f0f0f0;
}

#sidebar.active {
  margin-left: -280px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #333;
}

#sidebar ul.components {
  padding: 10px 0;
}

#sidebar ul{
  margin-bottom: 14px;
}

#sidebar ul li a {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #c0c0c0;
  display: block;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e252';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e253';
}

ul ul a {
  font-size: 15px !important;
  color: #fff !important;
}

ul ul a:hover {
  color: #fff !important;
  background: #1769ff;
}

#github {
  color: #fff !important;
}

#github:hover {
  color: #1769ff !important;
}

#logout {
  color: #fff !important;
  margin-bottom: -20px;
}

#logout:hover {
  color: #1769ff !important;
}


/* ---------------------------------------------------
    Content
----------------------------------------------------- */
#content {
  padding: 10px;
  min-height: 100vh;
  transition: all 0.3s;
}


/* ---------------------------------------------------
    Bookmark List
----------------------------------------------------- */
.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 40px;
  color: #333;
  text-transform: capitalize;
}

.add-card {
 background: #fff;
 overflow: hidden;
}

.add-icon {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: -3px;
}

.add-btn {
  display: block;
  width:180px;
  margin: 45px auto;
  background: #333;
  border: none;
  color: #fff;
  padding: 10px;
  font-weight: 600;
}

.card {
  position: relative;
  height: 300px;
  width: 290px;
  border-radius: 2px;
  text-align: left;
  border: 1px solid #e8e8e8;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
  background: #fff;
}

.card > .img-container {
  height: 150px;
  overflow: hidden;
  text-align: center;
  background: #e6e6e6;
}

.card > .img-container > img{
  width: 290px;
}

.card > .card-body > a{
  display: inline-block;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #333;
}

.card > .card-body > a:hover{
  color: #1769ff;
}

.card > .card-body > p{
  display: block;
  font-size: 14px;
  margin-left: 10px;
  max-width: 260px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover .deleteButton {display: block}

.deleteButton {
  display: none;
  position: absolute;
  right: 10px;
  top:10px;
  background-color: #E40046;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
}

.deleteButton:hover {
  color: #fff;
  background-color: #E40046;
}

.deleteButton:visited {
  color: #fff;
}

.card > .card-body > .user {
  position: absolute;
  left: 10px;
  bottom: 15px;
  color: #767676;
  font-size: 14px;
  font-weight: 600;
}

.card > .card-body > .like {
  position: absolute;
  right: 60px;
  bottom: 15px;
  color: #1769ff;
  font-size: 15px;
}

.like-icon{
  color: #1769ff;
}

.card > .card-body > .dislike {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #767676;
  font-size: 15px;
}

.dislike-icon {
  color: #767676;
}


/* ---------------------------------------------------
    Collection List
----------------------------------------------------- */
.collection-card {
  height: 250px;
}

.collection-card > .collection-img {
  height: 160px;
}

.card > .card-body > .file {
  position: absolute;
  right: 10px;
  bottom: 16px;
  color: #767676;
  font-size: 13px;
}


/* ---------------------------------------------------
    Login
----------------------------------------------------- */
#logo {
  width: 250px;
  margin-top: 10px;
}

.login {
  height: 350px;
  width: 310px;
  border: 1px solid #e8e8e8;
  margin-top: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card > .card-body > .github-login {
  margin-top: 40px;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 10px;
}

.card > .card-body > .github-login:hover {
 color: #fff;
 background: #333;
}


/* ---------------------------------------------------
    Modal
----------------------------------------------------- */
.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #333;
}

.fa-bookmark-o {
  color: #1769ff;
  margin-right: 5px;
}

.fa-trash-o {
  color: #E40046;
  margin-right: 5px;
}

.form-title {
  color: #333;
  font-weight: 400;
}

.btn-cancel {
  color: #767676;
  border: 1px solid #767676;
  border-radius: 4px;
  width: 80px;
  padding: 9px;
  margin-right: 10px;
  float: right;
}

.btn-add {
  color: #fff;
  background-color: #1769ff;
  width: 150px;
  padding: 10px;
  border: none;
  float: right;
}

.btn-delete {
  color: #fff;
  background-color: #E40046;
  width: 80px;
  padding: 10px;
  border: none;
  float: right;
}

.modal-bg {
  /*display: none;*/
  width: 100%;
  position: absolute;
  margin-top: -80px;
  z-index: -100;
}


/* ---------------------------------------------------
    Media Queries
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
      margin-left: -280px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #sidebarCollapse span {
      display: none;
    }
    .navbar-btn {
      display: block;
    }

}
